body {
    height: 150vh;
    background-color: rgba(100, 180, 255, 0.9);
}

.jumbotron {
    background-color: white;
    font-family: 'Encode Sans';
}

h1 {
    font-family: 'Encode Sans Bold';
}

th, td{
    text-align: center;
}

.highlight{
    background-color: rgb(245, 245, 245);
    color: rgb(251, 71, 71);
    text-shadow: 2px solid black;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
}

#slider{
    box-sizing: border-box;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

#footer{
    background-color: white;
    border-radius: 5px;
    vertical-align: middle;
}

#footer .heart{
    color: red;
    font-size: 1.2em;
    vertical-align: middle;
}

#footer p{
    padding: 8px 10px 5px;
    text-align: right;
    font-weight: bolder;
    font-family: 'Encode Sans';
}

/*--FONTS--*/

@font-face {
    font-family: "Encode Sans";
    src: url("../fonts/Encode_Sans/EncodeSans-Regular.ttf");
}

@font-face {
    font-family: "Encode Sans Bold";
    src: url("../fonts/Encode_Sans/EncodeSans-SemiBold.ttf");
}